<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conteúdo da Faixa</title>
        <link rel="stylesheet" href="css/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            body {
                background-color: #f8f9fa; /* Cor de fundo clara */
                font-family: Arial, sans-serif;
            }
            .card {
                border: none; /* Remove bordas das cartas */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra nas cartas */
                transition: transform 0.2s; /* Animação de transformação */
            }
            .card:hover {
                transform: translateY(-5px); /* Levanta a carta ao passar o mouse */
            }
            .btn-custom {
                background-color: #a32927; /* Cor personalizada do botão */
                color: #ffffff; /* Cor do texto do botão */
            }
            .btn-custom:hover {
                background-color: #a32927c0; /* Cor do botão ao passar o mouse */
            }
            .container {
                margin-top: 50px; /* Espaço superior */
            }
            h1 {
                color: #a32927; /* Cor do título */
                text-align: center; /* Centraliza o título */
            }
            .no-content-btn {
                background-color: #ead238; /* Cor do botão sem conteúdo */
                width: 90%; 
                margin-left: 5%; 
            }
        </style>
<body>
    <%- include('navbar') %>
    <%- include('vlibras') %>
    <div class="container mt-5">
        <% if (conteudos.length > 0) { %>
            <% conteudos.forEach(conteudo => { %>
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="images/material.jpeg" class="img-fluid rounded-start" alt="Imagem do Conteúdo" >
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title"><%= conteudo.titulo %></h5>
                                <p class="card-text"><%= conteudo.conteudo %></p>
                                <a href="/quizzes?id_conteudo=<%= conteudo.id_conteudo %>" class="btn btn-custom">
                                    Entrar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <h1>Desculpe, ainda não há materiais cadastrados</h1>
            <a href="/addConteudo" class="btn btn-outline no-content-btn" style="background-color: #a32927; color:#ffffff">Adicionar conteúdo</a>
        <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w7tNPiQ2RgRdbm4U6sXbyzYv58LLMJbHTY+V6J5EW3GhjfpXKyrFrkQACZ0csV75" crossorigin="anonymous"></script>


   </body>
</html>
