<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
    <%- include('vlibras') %>
    
    <div class="container mt-5">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Informações do Usuário</h5>
                <p><strong>Nome:</strong> <%= user.nome %></p>
                <p><strong>Email:</strong> <%= user.email %></p>
            </div>
        </div>

        <h4>Questões Realizadas:</h4>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #a32927; color:rgb(255, 255, 255)">
                            Ver Questões Realizadas
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Faixa</th>
                                    <th>Questão</th>
                                    <th>Resposta Correta</th>
                                    <th>Sua Resposta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% quizzes.forEach((quiz) => { %>
                                    <!-- Exibição das questões e respostas uma abaixo da outra -->
                                    <tr>
                                        <td rowspan="4"> <%= quiz.faixa_cor %></td>
                                        <td><%= quiz.questao_Um %></td>
                                        <td><%= quiz.op_correto_Um %></td>
                                        <td><%= quiz.resposta_um %></td>
                                    </tr>
                                    <tr>
                                        <td><%= quiz.questao_Dois %></td>
                                        <td><%= quiz.op_correto_Dois %></td>
                                        <td><%= quiz.resposta_dois %></td>
                                    </tr>
                                    <tr>
                                        <td><%= quiz.questao_Tres %></td>
                                        <td><%= quiz.op_correto_Tres %></td>
                                        <td><%= quiz.resposta_tres %></td>
                                    </tr>
                                    <tr>
                                        <td><%= quiz.questao_Quatro %></td>
                                        <td><%= quiz.op_correto_Quatro %></td>
                                        <td><%= quiz.resposta_quatro %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
