<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= conteudo.titulo %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <div class="container">
        <div class="fundo" style="margin-left:5%; margin-top:2%; width: 90%; height:530px; border-radius: 18px; background-color: #a32927f4;">
            <h1 class="text-center" style="margin-top:20px; color: #ffffff; margin-left:5px; font-family: 'Patua One', sans-serif; font-size:40px;">
                <%= conteudo.titulo %>
            </h1>
            <br>
            
            <div class="col" style="margin-left:22%; margin-right:5px;">
                

                <iframe width="560" height="315" src=" <%= conteudo.link_video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
            <h5 style="color: #ffffff; margin-right:58px; text-align:right;">
                Autor do vídeo: <%= conteudo.autor %>
            </h5>

            <br> 
          
            <a href="/quizzes?id_conteudo=<%= conteudo.id_conteudo %>" class="btn btn-outline text-center" style="background-color: #ffffff; width:90%; margin-left: 5%;">Responder ao questionário</a>

        </div>
    </div>
</body>

</html>
